<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pcwk.ehr.mapper.FireDisasterMapper">
    <!-- 1. 년도별 화재 통계 -->
    <select id="selectYearlyFireCount" resultType="map">
        SELECT
            SUBSTR(FIRE_DATE, 1, 4) AS YEAR,
            COUNT(*) AS FIRE_COUNT
        FROM FIRE_DISASTER
        GROUP BY SUBSTR(FIRE_DATE, 1, 4)
        ORDER BY YEAR
    </select>

    <!-- 2. 화재유형별 재산피해 -->
    <select id="selectFireTypeDamage" resultType="map">
        SELECT
            FIRE_TP AS FIRE_TYPE,
            COALESCE(SUM(COM_DM),0) AS TOTAL_DAMAGE
        FROM FIRE_DISASTER
        GROUP BY FIRE_TP
        ORDER BY TOTAL_DAMAGE DESC
    </select>
</mapper>