<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pcwk.ehr.mapper.NewsMapper">
    <select id="doRetrieve" parameterType="SearchDTO" resultType="NewsDTO">
        SELECT RNUM AS NO,t2.*
		FROM(
		        SELECT ROWNUM AS RNUM, t1.*
		        FROM (
		               SELECT 
		                    news_no,
		                    keyword,
		                    title,
		                    company,
		                    url,
		                    pub_dt,
		                    reg_dt
		                FROM
		                    news
		                WHERE (TRUNC(reg_dt) = TRUNC(SYSDATE))		                
		        ) t1
		 <![CDATA[    WHERE ROWNUM <= #{pageSize}*#{pageNo} + #{pageSize}
		)t2
		WHERE RNUM >= #{pageSize}*#{pageNo} +#{pageNo} ]]>
    </select>

    <insert id="saveAll">
       INSERT INTO NEWS (
		    keyword, title, company, url, pub_dt, reg_dt
		)
		SELECT
		    DECODE(MOD(LEVEL, 3), 1, '화재', 2, '재난', 0, '홍수') AS keyword,
		    '주제' || (LEVEL + 1) AS title,
		    '신문사' || MOD(LEVEL, 3) AS company,
		    'naver.com' || (LEVEL + 1) AS url,
		    SYSDATE || (LEVEL - 1)AS pub_dt,
		    SYSDATE  AS reg_dt
		FROM dual
	<![CDATA[	CONNECT BY LEVEL <= 100 ]]>
    </insert>
    
    <select id="getCount" resultType="java.lang.Integer">
        SELECT COUNT(*) cnt FROM NEWS
    </select>

    <delete id="deleteAll">
        DELETE FROM NEWS
    </delete>
    
    <select id="searchByKeyword" parameterType="String" resultType="NewsDTO">
        SELECT 
		    news_no,
		    keyword,
		    title,
		    company,
		    url,
		    pub_dt,
		    reg_dt
		FROM
		    news
		WHERE (TRUNC(reg_dt) = TRUNC(SYSDATE))
		AND keyword=#{keyword}
		ORDER BY reg_dt DESC
    </select>
    <select id="doSelectOne" parameterType="NewsDTO" resultType="NewsDTO">
        SELECT
            news_no,
            keyword,
            title,
            company,
            url,
            pub_dt,
            reg_dt
        FROM
            news
        WHERE url = #{url}
    </select>
    
    <update id="doUpdate" parameterType="NewsDTO">
	    MERGE INTO NEWS t1
	    USING (
	        SELECT
	            #{url} AS url
	        FROM dual
	    ) t2
	    ON (t1.url = t2.url AND t2.url IS NOT NULL)
	    WHEN MATCHED THEN 
	        UPDATE SET
	            t1.keyword = #{keyword},
	            t1.title = #{title},
	            t1.company = #{company},
	            t1.pub_dt = #{pubDt},
	            t1.reg_dt = SYSDATE
	    WHEN NOT MATCHED THEN
	        INSERT (keyword, title, company, url, pub_dt, reg_dt)
	        VALUES (#{keyword}, #{title}, #{company}, #{url}, #{pubDt}, SYSDATE)
	</update>

    <insert id="doSave" parameterType="NewsDTO" 
					  useGeneratedKeys="true" 
					  keyProperty="newsNo" 
					  keyColumn="NEWS_NO"> 
        INSERT INTO news (
		    keyword,
		    title,
		    company,
		    url,
		    pub_dt,
		    reg_dt
		) VALUES ( #{keyword},
		           #{title},
		           #{company},
		           #{url},
		           #{pubDt},
		           SYSDATE )
    </insert>
</mapper>