<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.TemperatureMapper">
    
    <insert id="insertPatient" parameterType="PatientsDTO">
        INSERT INTO PATIENTS (
            YEAR, REGION, TOTAL, OUTDOOR_TOTAL, INDOOR_TOTAL
        ) VALUES (
            #{year}, #{region}, #{total}, #{outdoorTotal}, #{indoorTotal}
        )
    </insert>

    <select id="selectAllPatients" resultType="PatientsDTO">
        SELECT 
            NO, YEAR, REGION, TOTAL, OUTDOOR_TOTAL, INDOOR_TOTAL
        FROM PATIENTS
    </select>

</mapper>