<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pcwk.ehr.mapper.TemperatureMapper">
    
	<update id="upsertNowcast" parameterType="java.util.List">
	  MERGE INTO JM.NOWCAST t
	  USING (
	    <foreach collection="list" item="item" separator=" UNION ALL ">
	      SELECT
	        TO_DATE(#{item.baseDate}, 'YYYYMMDD') AS BASE_DATE,
	        #{item.baseTime} AS BASE_TIME,
	        #{item.sidoNm} AS SIDO_NM,
	        #{item.signguNm} AS SIGNGU_NM,
	        #{item.nx} AS NX,
	        #{item.ny} AS NY,
	        #{item.category} AS CATEGORY,
	        #{item.obsrValue} AS OBSR_VALUE
	      FROM dual
	    </foreach>
	  ) s
	  ON (
	    t.SIDO_NM   = s.SIDO_NM
	    AND t.SIGNGU_NM = s.SIGNGU_NM
	    AND t.NX = s.NX
	    AND t.NY = s.NY
	    AND t.CATEGORY = s.CATEGORY
	  )
	  WHEN MATCHED THEN
	    UPDATE SET
	      t.OBSR_VALUE = s.OBSR_VALUE,
	      t.BASE_DATE  = s.BASE_DATE,
	      t.BASE_TIME  = s.BASE_TIME
	  WHEN NOT MATCHED THEN
	    INSERT (BASE_DATE, BASE_TIME, SIDO_NM, SIGNGU_NM, NX, NY, CATEGORY, OBSR_VALUE)
	    VALUES (s.BASE_DATE, s.BASE_TIME, s.SIDO_NM, s.SIGNGU_NM, s.NX, s.NY, s.CATEGORY, s.OBSR_VALUE)
	</update>
    
    <insert id="insertPatient" parameterType="PatientsDTO">
        INSERT INTO PATIENTS (
            YEAR, 
            SIDO_NM, 
            PATIENTS_TOT, 
            OUT_SUBTOT, 
            IN_SUBTOT
        ) VALUES (
            #{year}, 
            #{sidoNm}, 
            #{patientsTot}, 
            #{outSubtot}, 
            #{inSubtot}
        )
    </insert>

    <select id="selectSidoPatients" parameterType="String" resultType="PatientsDTO">
        SELECT 
            PATIENTS_NO, 
            YEAR, 
            SIDO_NM, 
            PATIENTS_TOT, 
            OUT_SUBTOT, 
            IN_SUBTOT
        FROM PATIENTS
        WHERE SIDO_NM = #{sidoNm}
    </select>
    
    <select id="selectAllPatients" resultType="PatientsDTO">
        SELECT 
            PATIENTS_NO, 
            YEAR, 
            SIDO_NM, 
            PATIENTS_TOT, 
            OUT_SUBTOT, 
            IN_SUBTOT
        FROM PATIENTS
    </select>
    
    <select id="selectPatientsSummary" parameterType="map" resultType="PatientsDTO">
	    SELECT 
	        <choose>
	            <when test="groupType == 'region'">
	                SIDO_NM AS groupKey
	            </when>
	            <when test="groupType == 'year'">
	                YEAR AS groupKey
	            </when>
	        </choose>,
	        SUM(PATIENTS_TOT) AS PATIENTS_TOT,
	        SUM(OUT_SUBTOT)   AS OUT_SUBTOT,
	        SUM(IN_SUBTOT)    AS IN_SUBTOT
	    FROM PATIENTS
	    <where>
	        <!-- 특정 년도의 지역별 합계 -->
	        <if test="groupType == 'region' and year != null and year != ''">
	            YEAR = #{year}
	        </if>
	
	        <!-- 특정 지역의 년도별 합계 -->
	        <if test="groupType == 'year' and sidoNm != null and sidoNm != ''">
	            SIDO_NM = #{sidoNm}
	        </if>
	    </where>
	    <choose>
	        <when test="groupType == 'region'">
	            GROUP BY SIDO_NM
	            ORDER BY SIDO_NM
	        </when>
	        <when test="groupType == 'year'">
	            GROUP BY YEAR
	            ORDER BY YEAR
	        </when>
	    </choose>
	</select>
   
    <select id="pSido" resultType="string">
	    SELECT DISTINCT SIDO_NM FROM PATIENTS ORDER BY SIDO_NM
	</select>
	
	<select id="pYear" resultType="string">
        SELECT DISTINCT YEAR FROM PATIENTS ORDER BY YEAR DESC
    </select>
	
    <select id="getCount" resultType="java.lang.Integer">
        SELECT COUNT(*) AS totalCnt FROM PATIENTS
    </select>
    
    <delete id="deleteAll">
        DELETE FROM PATIENTS
    </delete>
    
</mapper>