<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pcwk.ehr.mapper.TemperatureMapper">
    
	<update id="upsertNowcast" parameterType="java.util.List">
	  MERGE INTO JM.NOWCAST t
	  USING (
	    <foreach collection="list" item="item" separator=" UNION ALL ">
	      SELECT
	        TO_DATE(#{item.baseDate}, 'YYYYMMDD') AS BASE_DATE,
	        #{item.baseTime} AS BASE_TIME,
	        #{item.sidoNm} AS SIDO_NM,
	        #{item.sigunguNm} AS SIGNGU_NM,
	        #{item.nx} AS NX,
	        #{item.ny} AS NY,
	        #{item.category} AS CATEGORY,
	        #{item.obsrValue} AS OBSR_VALUE
	      FROM dual
	    </foreach>
		  )
		  ON (
		    t.SIDO_NM = s.SIDO_NM
		    AND t.SIGNGU_NM = s.SIGNGU_NM
		    AND t.BASE_DATE = s.BASE_DATE
		    AND t.BASE_TIME = s.BASE_TIME
		    AND t.CATEGORY = s.CATEGORY
		  )
		  WHEN MATCHED THEN
		    UPDATE SET
		      t.OBSR_VALUE = s.OBSR_VALUE
		  WHEN NOT MATCHED THEN
		    INSERT (BASE_DATE, BASE_TIME, SIDO_NM, SIGNGU_NM, NX, NY, CATEGORY, OBSR_VALUE)
		    VALUES (s.BASE_DATE, s.BASE_TIME, s.SIDO_NM, s.SIGNGU_NM, s.NX, s.NY, s.CATEGORY, s.OBSR_VALUE)
	</update>
  
    <insert id="insertNowcast" parameterType="NowcastDTO">
        INSERT INTO NOWCAST (
			BASE_DATE,
			BASE_TIME,
			SIDO_NM,
			SIGNGU_NM,
			NX,
			NY,
			CATEGORY,
			OBSR_VALUE
        ) VALUES (
            #{baseDate}, 
            #{baseTime}, 
            #{sidoNm},
            #{sigunguNm},
            #{nx}, 
            #{ny}, 
            #{category},
            #{obsrValue}
        )
    </insert>
    
    <insert id="insertPatient" parameterType="PatientsDTO">
        INSERT INTO PATIENTS (
            YEAR, 
            SIDO_NM, 
            PATIENTS_TOT, 
            OUT_SUBTOT, 
            IN_SUBTOT
        ) VALUES (
            #{year}, 
            #{sidoNm}, 
            #{patientsTot}, 
            #{outSubtot}, 
            #{inSubtot}
        )
    </insert>

    <select id="selectAllPatients" resultType="PatientsDTO">
        SELECT 
            PATIENTS_NO, 
            YEAR, 
            SIDO_NM, 
            PATIENTS_TOT, 
            OUT_SUBTOT, 
            IN_SUBTOT
        FROM PATIENTS
    </select>
    
    <select id="selectSidoPatients" parameterType="String" resultType="PatientsDTO">
        SELECT 
            PATIENTS_NO, 
            YEAR, 
            SIDO_NM, 
            PATIENTS_TOT, 
            OUT_SUBTOT, 
            IN_SUBTOT
        FROM PATIENTS
        WHERE SIDO_NM = #{sidoNm}
    </select>
   
    <select id="getCount" resultType="java.lang.Integer">
        SELECT COUNT(*) AS totalCnt FROM PATIENTS
    </select>
    
    <delete id="deleteAll">
        DELETE FROM PATIENTS
    </delete>
    
</mapper>